services:
  app:
    build: .
    container_name: notes-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/notesdb
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: notes-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: